
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Montserrat:wght@400;600&family=Roboto+Slab&display=swap');

html, body {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    width: 1170px;
    height: 2532px;
    position: relative;

}

.title {
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 80px;
}

.main-month {
    width: 100% ;
    height: 40% ;
    text-align: center;
}

.main-date {
    width: 100% ;
    height: 40% ;
}

.onDate {
    font-family: 'IBM Plex Sans KR', sans-serif;
}


.arrow{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

svg{
    margin-top: 66px;
}


/* 스크롤 범위 설정, 스크롤 생성 */
.wrap {
max-width: 760px; 
margin:30px auto;
}

.scroll__wrap {
overflow-x:auto;
white-space:nowrap;
}

/* 스크롤 숨김 */
.scroll__wrap::-webkit-scrollbar{
display: none; } 
   

.circle {
    font-family: 'Montserrat', sans-serif;
    font-weight : 600;
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 1.4;
    text-align: center;
    font-size: 2em;
    padding: 0px;
    margin: 10px;
    overflow: hidden; /* 숫자부분 스크롤 생성 방지 */
    color: #000000;
    background: #DCEDFD;
    border: none; /* 아웃라인 삭제 */


    transition: background-color 0.5s ease;
    &:hover {
        background-color: #4379C6;
        color: white;      
    }
    
  }

.active {
    background-color: #4379C6; /* 클릭 시 적용할 색상 */
    color: white; 
}

.student {
    display: flex;
    justify-content: center;
}

#studentNumber{
    display: block;
    width: 60%; 
    height: 3em;  
    margin: 0 auto;
}

#studentPassword{
    display: block;
    width: 60%; 
    height: 3em;
    margin: 0 auto;
}

input[type="number"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; /* 입력 필드 텍스트 크기 변경 */
    color: black; /* 입력 필드 글자색 변경 */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="password"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /* 비밀번호 필드에 추가적인 속성 적용 */
    -webkit-text-fill-color: #4379C6; /* 웹킷 기반 브라우저용 */
    caret-color: black; /* 캐럿 색상 설정 */
}

#login {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #4379C6;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}
#login:hover {
    background-color: #3268A8;
}

#logout {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #4379C6;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}
#logout:hover {
    background-color: #3268A8;
}

    #sendStuNum{
        background-color:#4379C6;
        color: #fff;
        border:none; 
        border-radius:5px; 
        padding:10px;
        min-width: 20%;
        min-height:10%; 
        font-size: 1.5em;
      }

/* 달 스케쥴 컨테이너 생성 */

.month-area{
    width: 100%;
    height: 50%;
    position: relative;
}

.month-Container{

    display: flex;
    justify-content: flex-start;
    background: #DCEDFD;
    width: 80%;
    height: 460px;
    border-radius: 10px;
    border-style: solid;
    border: #DCEDFD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* 컨테이너 오른쪽 옵션 */
.month-container-left{
    width: 30%;
    background: #DCEDFD;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-color: #DCEDFD;
    float: left;
    position: relative;
}

.month-container-right{

    justify-content: flex-start;
    width: 70%;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #DCEDFD;
    float: left;
}

.container-cercle{
    font-family: 'Montserrat', sans-serif;
    font-weight : 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-64%, -100%);

    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 50px;
    font-size: 5em;
    margin: 25px;
    overflow: hidden; /* 숫자부분 스크롤 생성 방지 */
    color: #000000;
    background: white;
    border: none; /* 아웃라인 삭제 */
}

.container-cercle-number{
    
    color: #4379C6;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.month-title{
    text-align: center;
    width: 250px;
    height: 100px;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 40px;
    white-space:pre-wrap;
    color: #4379C6;
}


 
    /* 텍스트 배치 확인용 */

    #hoho{
    height: 85%;
    margin: 15px;
    overflow-y: scroll;
    }


#monthSchedule{
    white-space:pre-wrap;
    margin: 10px;
}

a {
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    background-color: #DCEDFD;;
    color: black;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;
}

a:hover {
    background-color: #3268A8;
}


input[type="date"]{
    position: relative;
    width: 500px;
    padding-right: 10px;
    padding-left: 20px;
    background: url("calender-icon.svg") no-repeat right 16px center / 50px auto;
    font-size: 100%;
    color: #000000;

    border:1px solid grey;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* date 부분의 어디를 클릭해도 캘린더 선택 가능 */
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
  }

  /* placeholder 설정 */

input[type="date"]::before {
content: attr(date-placeholder);
width: 100%;
}

/* 값 입력시 placeholder를 사라지게 */

input[type='date']:valid::before {
    display: none;
  }

textarea{
    width: 80%;
    height: 600px;
    position: relative;
    padding: 15px;

    border:1px solid grey;
    border-radius: 5px;

    box-sizing: border-box;

    font-size: 1.8em;
    font-family: 'IBM Plex Sans KR', sans-serif;

    margin: 20px;
}

.small-button{

    position: relative;
    top:50%;
    background-color:#4379C6;
    color: #fff;
    border:none; 
    border-radius:5px; 
    padding:15px;
    height: 30%; 
    width: 24%;
    font-size: 1.5em;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

.display-flex {
    display: flex;
    justify-content: flex-start;
}

.right-align{
    margin-left: auto;
}

.logInLogOutToggle{
    display: none;
}

.logo {
    width: 120%;
    max-width: none;
    height: auto;
    position: absolute;
    bottom: 415px; /* 아래쪽 여백을 줄여 로고를 위로 올림 */
    right: -280px;
    opacity: 0.2;
    z-index: 99;
}


  
