@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&family=Orbit&display=swap');



body {
    font-family: 'Roboto Slab', serif;
    width: 1170px;
    height: 2532px;
    padding-top: 0%;
    margin-left:0%;
    display: flex;
    
}
.container {
    margin: 0 auto;
}

#id,#pw{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Orbit', sans-serif;
    outline: none;
}

label {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 8px; /* 둥근 모서리 */
    background-color: #4379C6; 
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 */
    margin-bottom: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease ; /* 변경 효과 */

}

#menu {
    padding: 20px;
    color: black; /* 텍스트 색상 변경 */
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease; /* 색상 변경 효과 추가 */
}

#menu li:hover {
    color: #3498db; /* 호버 시 색상 변경 */
}

#content {
    font-family: 'Roboto Slab', serif;
    margin-left: 0%;
    padding: 20px;
    width: 1170px;
    height: 2532px;
    background-color: white; /* 배경색 변경 */
}

#content h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #4379C6;
}

input {
    margin-bottom: 35px;
    width: 100%;
    padding: 12px 15px; 
    box-sizing: border-box;
    border: none;
    border-radius: 10px; 
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 입체감을 주는 그림자 */
    transition: background-color 0.5s ease, box-shadow 0.3s ease, padding 0.5s ease; /* 변경 효과 */
}
input:focus{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 입체감을 주는 그림자 */
    background-color: #e9e7e7;
    padding: 15PX;
}

button {
    margin-bottom: 35px;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(to right, #4379C6, #ffffff); 
    color: #fff;
    padding: 12px 20px; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 */
    transform: translateY(1px); /* 버튼이 약간 들어간 느낌을 주기 위해 */
}
        
button:hover {
    background: linear-gradient(to right, #3268A8, #4379C6); /* 호버 시 색상 변경 */
    transform: translateY(0); /* 호버 시 약간 들어간 느낌 해제 */
}
